<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center"> Detail</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID: </b>1</li>
                        <li class="list-group-item"><b>Name: </b>Prod1</li>
                        <li class="list-group-item"><b>Price: </b>100 usd</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary w-100" routerLink="/">
                        <i class="fas fa-arrow-alt-circle-left"></i>Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>